.bgcAll {
  background-color: #f0f2f5;
}
.bgcAll .bgcLeft {
  background-color: #f0f2f5;
}
.bgcAll .conRight {
  height: 500px;
}
.empty {
  display: none;
}
.defaultAdd {
  width: 70px;
  height: 25px;
  text-align: center;
  color: green;
  border-radius: 15px;
  border: 1px solid green;
}
